# GitHub Actions cache
/.github/.cache

# Ignore virtual environments
dbt311_env/
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Docker cache
docker/logs/
docker/plugins/

# DBT cache
banking_dbt/.dbt/
banking_dbt/analyses/
banking_dbt/logs/
banking_dbt/macros/
banking_dbt/seeds/
banking_dbt/target/
banking_dbt/tests/

.env
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
docker-compose.override.yml
logs/